html, body {
    height:100%;
}

.App {
  /*text-align: center;*/
}


.App-header {
  background-color: #222;
  height: 26px;
  padding: 6px;
}

.App-header-title {
  color: #fff;
  float: left;
  font-size: 20px;
}

.App-header-stats {
  color: #fff;
  text-align: right;
  padding: 5px 15px;
}

.App-section {
  background: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 0 20px 20px 0;
  padding: 20px;
  border-radius: 2px;
}

.App-play--color {
  color: #fff;
}

.App-passed--color {
  color: #1B5E20
}

.App-failed--color {
  color: #b71c1c;
}
